<header>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-primary">
            <a class="navbar-item" href="/">
                <img src="/assets/r.svg">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">



                {{ range (where site.RegularPages "Section" "") }}

                <a class="navbar-item" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}

                <!---->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Writing
                    </a>


                    <div class="navbar-dropdown">
                        {{ range .Site.Sections }}

                        <a class="navbar-item" href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}

                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Deprecated Technical Blog
                        </a>
                    </div>
                </div>

            </div>

            <!--
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">

                        </a>
                    </div>
                </div>
            </div>
            -->

    </nav>

</header>